body{
    line-height: 1.6;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}

.whole-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #7EE383;
  }
  


.container-fluid{
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 10px 5px 10px 5px;
}

.navbar-brand{
    height: 45px;
}

.nav-item{
    font-size: 20px;
    margin-right: 50px;
    cursor: pointer;
}

section#first-section{
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  section#second-section{
    background-color: #A1E9A6;
    display: flex;
    position: relative;
    justify-content: center;
    height: 80vh;
    width: 100%;
  }

  section#last-section{
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
  }


.container-copright {
    width: 100%;
    text-align: center;
}

#first-section .help-center-pic {
    position: absolute;
    left: 0%;
    bottom: 12%;
    height: 50%;
}

#first-section .bottom-line{
  border-top: solid 7px #004AAD;
  position: absolute;
  bottom: 0;
  width: 97%;
  height: 13%;
}

.logo-con{
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-box{
  z-index: 1;
  margin-top: 200px;
  color: #004AAD;
}

.form-control{
  border-radius: 27px 27px 27px 27px;
  background-color: #F8F8F8;
  height: 60px;
  width: 85vh;
  border: 0;
  text-align: center;
  font-size: 20px;
  margin: 10px 0 20px 0;
}

.search-btn{
  margin: 10px 0 0 10px;
  border-radius: 50%;
  border: 0;
  background: none;
  z-index: 1;
  position: absolute;
  color: #004AAD;
  
}

.accordion{
  width: 60%;

}

.accordion-button::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
  transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E");

}

.accordion-button{
  background-color: #A1E9A6;
  border-bottom: solid 5px black;
  height: 70px;
}

.accordion-body{
  background-color: #A1E9A6;
  border-bottom: solid 5px black;
  padding: 30px 0 30px 0;
}

.sf-btn{
  background-color: #7EE383;
  height: 30px;
  border-radius: 15px;
  border: 0;
}

.sf-btn:hover{
  background-color: white;
  color: #7EE383;
}

.accordion h4{
  color: #004AAD;
}

@media (max-width:769px) {
  .accordion h4{
    font-size: large;
  }
}

@media (max-width:617px) {
  .accordion h4{
    font-size: medium;
  }
}

.snh-container{
  display: flex;
  color: #004AAD;
  background-color: #F8F8F8;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.snh-container button{
  height: 50px;
  width: 200px;
  font-size: larger;
  color: white;
  background-color: #004AAD;
  border: 0;
  border-radius: 25px;
  margin-left: 5px;
}

.snh-container button:hover{
  border: solid 3px #004AAD;
  background-color: white;
  color: #004AAD;
  width: 200px;
}


@media (max-width:642px){
  .form-control{
    width: 68vh;
  }

  .search-box{
    margin-top: 100px;
    font-size: medium;
  }
}

.navbar .nav-link{
  position: relative;
}
.navbar .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #1D9BF0;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}


